.login-box{
    width:345px;
    height: 365px;
    padding: 24px;
    text-align: center;
    margin: 0 auto;
    background-color: white;
    border-radius: 7px;
}
.login-outer{
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: deepskyblue;
}
/*.link-box{*/
/*    margin: 5% auto 0 auto;*/
/*    text-align: right;*/
/*    width: 95%;*/
/*    height: 30px;*/
/*    line-height: 30px;*/
/*}*/
/*#basic_username{*/
/*    width:30%;*/
/*}*/

.login-form {
    max-width: 300px;
}
.login-form-forgot {
    float: right;
}
.ant-col-rtl .login-form-forgot {
    float: left;
}
.login-form-button {
    width: 100%;
}