.add-car{
    margin-right: 10px;
    margin-bottom: 1%;
}
.button-set{
    display:flex;
}
/*.loading{*/
/*    margin: 20px 0;*/
/*    margin-bottom: 20px;*/
/*    padding: 30px 50px;*/
/*    text-align: center;*/
/*    background: rgba(0, 0, 0, 0.05);*/
/*    border-radius: 4px;*/
/*}*/